* {
    padding: 5px;
    border: solid black 0px;
    font-family:Arial, Verdana, sans-serif;

}

html {
    background-color: #CCFFCC;

}

body {
    background-color: #CCFFCC;
}


#container {
    background-color: #CCFFCC;
}

#header {
    background-color: #6600FF;
    text-align: center; 
    clear: both;
   
}

#menu{
    background-color: #6666FF;
    color: #FF0099;  
    clear: both;

}

#content {
    background-color: #FFFFCC;
}

#paginator {
    background: #888;
    text-align: center;
    clear: both;
}

.post{
    color: black;
    text-align:justify;
}

p{
    text-indent:50px;
    font-size:12pt;
}

.post_title{
    color:red;
    text-align:center;
    font-size:24pt;    
}

a:link {
    color:#FFFFFF;
}      

a:visited {
    color:white;
}  

a:hover {
    color:#FF00FF;
}
  
a:active {
    color:#0000FF;
}

