
html {
    background:#c0f repeat-y 20% 0
}

body {
    background:#f0c repeat-y 80% 0
}

pre {
    white-space:pre
}

/*#container{
    background:purple;
}*/

#header {
    background:red;
    text-align:center    
}


#menu{
    background:yellow;
}

/*#menuAdm{

    background:green;

}*/

#content {
    background:#9cf
}

#paginator {
    background:#47B2D1;
    text-align:center
}

body {
    min-width:655px
}


#header, /*#menuAdm,*/ #menu, #content, #paginator, #container {
    overflow:hidden;
    display:inline-block
}

#header, #menu, #paginator {
    width:100%
}

/*#menuAdm,*/ #content {
    float:left
}

/*
#menuAdm{
    width:10%
}
*/
#content {
    width:100%
}

#paginator {
    clear:left
}

