<div class="post">

    [% FOREACH post IN posts %]
        <h1 class="post_title">[% post.title %]</h1>
        <h2 class="post_sub_title">by [% post.author %]</h2>
        [% post.content %]
    [% END %]
    
    [%# PROCESS 'paginator.tt' %]

</div>
