<div id="login">
    <form action="[% c.url_for('/login') %]" method="post">
        <fildset>
            <label class="labellogin">Login:<input class="inputlogin" type="text" name="username"/></label>
            <label class="labellogin">Password:<input class="inputlogin" type="password" name="password"/></label> 
            <input class="botaologin" type="submit" value="Login" />
        </fildset>
    </form>
</div> 
