 <div id="login">
    <form action="[% c.url_for('/login') %]" method="post">
        <fildset>
            <label>Login:<input type="text" name="username"/></label>
            <label>Password:<input type="password" name="password"/></label> 
            <input type="submit" value="Login" />
        </fildset>
    </form>
</div>               
