<ul id="navigation">
    <li>
        <a href="[% c.url_for('/') %]">Home</a>
    </li>
    
    [% IF c.session('username') %]
        <li>
            <a href="[% c.url_for('/admin/posts') %]">Admin</a>
        </li>
    [% END %]
</ul>

    
