<div class="post">
    <a href="[% c.url_for('/posts/') _ post.post_id %]"><h1 class="post_title">[% post.title %]</h1></a>
    <h2 class="post_sub_title">by [% post.author %]</h2>
    [% post.content %]
</div>
