* {
    padding: 5px;
    border: solid black 0px;
    font-family:Arial, Verdana, sans-serif;
    
}

html {
    background-image:url('bamboo.jpg');

}

body {
    background-color: none;
}


#container {
    background-color: #none;
}

#header {
    background-color: none;
    text-align: center; 
    clear: both;
}

#header h1 {
    font-size: 36pt;
}

#menu{
    background-color:green;
    color: #FF0099;  
    clear: both;

}

#content {
    background-color:none;
    padding: 20px;
}

#paginator {
    background: #888;
    text-align: center;
    clear: both;
}

.post{
    color: black;
    text-align:justify;
     background-color:white;
}

p{
    text-indent:50px;
    font-size:12pt;
}

.post_title{
    color:red;
    text-align:center;
    font-size:24pt;    
}
a:link {
    color:#FFFFFF;
}      

a:visited {
    color:white;
}  

a:hover {
    color:#FF00FF;
}
  
a:active {
    color:#0000FF;
}


